/*

@media screen and (max-width: 768px) {
  .columns {
    height: 70px; 
  }

  .footer {
    height: 90px; 
  }
}
*/

.background {
  background-color: gainsboro;
  display: flex; /* Usar flex para organizar los elementos internos */
  flex-direction: column; /* Alinear los elementos verticalmente */
  /* Asegurar que el contenedor tenga al menos la altura de la ventana */
  margin: 0; /* Resetear márgenes para evitar espacios no deseados */
  padding: 0;
  height: 900px;
}
.columns {
  flex: 0 0 auto; /* No crecer ni encoger, tamaño automático */
  background-image: url("C:/Users/oziel/Desktop/PI-Videogames-main/client/src/assets/topBar.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1920px;
  height: 133px;
}
.body_videogames {
  flex: 1; /* Crecer para ocupar el espacio disponible */
  display: flex;
  transition: transform 1s ease;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 20px;
}

.footer {
  background-image: url("C:/Users/oziel/Desktop/PI-Videogames-main/client/src/assets/bottomBarwNintendo.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.button {
  transition: box-shadow 0.3s ease;
  height: 30px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  background-color: rgb(126, 126, 126);
  border: 1.5px solid rgb(103, 103, 103);
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  transition: color 0.6s;
  color: #ae0202;
  cursor: pointer;
  box-shadow: 3px 4px 0px rgba(42, 41, 41, 0.9);
}
.button:hover {
  background-color: rgb(110, 110, 110);
}
.button:active {
  box-shadow: 1.5px 2.5px 0px rgba(42, 41, 41, 0.9);
  transform: translateY(4px) translateX(1px);
}
