/*

@media screen and (max-width: 768px) {
  .columns {
    height: 70px; 
  }

  .footer {
    height: 90px; 
  }
}
*/

.background {
  height: 100vh;
  background-color: whitesmoke;
}

.top_row {
  display: flex; /* Hace que los elementos dentro del contenedor se muestren en fila */
  flex-direction: row;
}
.main {
  height: 75%;
  display: flex;
  flex-direction: column;
}
.body_videogames {
  padding-top: 50px;
}
.carouselcontainer {
  display: flex;
  overflow-x: hidden; /* Permite el desplazamiento horizontal para las cards adicionales */
  scroll-snap-type: x mandatory; /* Cada card se desplazará de manera obligatoria */
  -webkit-overflow-scrolling: touch; /* Mejora el desplazamiento en dispositivos móviles */
  scroll-behavior: smooth; /* Agrega un efecto de desplazamiento suave */
  width: 100%;
}

/* Establece el estilo de las cards individuales dentro del carrusel */
.carouselcontainer > div {
  flex: 0 0 auto; /* Evita que las cards se ajusten para que siempre se muestre una por fila */
  width: 250px; /* Ajusta el ancho de cada card según tus necesidades */
  padding-right: 200px; /* Espacio entre las cards */
  scroll-snap-align: start; /* Alinea cada card al principio del contenedor */
}

/* Estilos para el botón del carrusel */
.carouselButton {
  background-color: whitesmoke;
  color: black;
  border: none;
  border-radius: 50%;
  font-size: 25px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 50%;
  z-index: 1;
  transition: background-color 0.3s ease;
  margin: 5px 10px 5px 10px;
}

.carouselButton:hover {
  background-color: #0056b3;
}
.active {
  background-color: gray;
  border: 10px;
  border-radius: 3px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 10px 0 20px 0;
  align-items: normal;
  margin-top: auto;
}
.createButton {
  height: 50px;
  width: 50px;
  background-color: whitesmoke;
  border: 0;
  font-size: 25px;
  color: orange;
}
.createButton:hover {
  background-color: #191919d9;
}
.homeButton {
  background-color: whitesmoke;
  border: 0;
  font-size: 25px;
  color: red;
  height: 50px;
  width: 50px;
}

.homeButton:hover {
  background-color: #191919d9;
}
.hrContainer {
  width: 200x; /* Establece el ancho deseado del hr-container */
  margin: 0 auto; /* Centra el hr-container horizontalmente */
}

.customhr {
  border: none;
  border-top: 1.95px solid black;
  width: 95%; /* Establece el ancho del hr al 100% del contenedor */
}

.pagination {
  margin-top: auto; /* Se alinea al final del espacio sobrante en .paginationContainer */
}

.moving_text_container {
  position: relative;
  overflow: hidden;
  width: 450px;
  height: 70px;
}

.moving_text {
  position: absolute;
  color: #191919;
  top: 0;
  left: 100%;
  white-space: nowrap;
  animation: move-in-out 7s linear infinite; /* La animación se repite infinitamente */
  font-size: 35px;
}

@keyframes move-in-out {
  0% {
    left: 100%; /* El texto está fuera del contenedor a la derecha */
  }
  50% {
    left: 0; /* El texto entra al contenedor desde la izquierda */
  }
  100% {
    left: -100%; /* El texto sale del contenedor a la izquierda */
  }
}

.lightTheme {
  background-color: whitesmoke;
  color: #191919;
  /* Agregar otros estilos claros aquí */
}

/* Estilos para el tema oscuro */
.darkTheme {
  background-color: #191919;
  color: whitesmoke;
  /* Agregar otros estilos oscuros aquí */
}

.themeButton {
  background-color: whitesmoke;
  border: 0;
  font-size: 25px;
}
