.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
}

.bar {
  width: 190px;
  height: 20px;
  background-color: #dbd8d8;
  margin-right: 5px;
  margin-left: 10px;
}

.button {
  transition: box-shadow 0.3s ease;
  padding: 8px 18px;
  margin: 0px 10px;
  font-size: 25px;
  background-color: whitesmoke;
  color: blue;
  border: none;
}
.button:hover {
  background-color: #191919ce;
}
