.card {
  transition: box-shadow 0.3s ease;
  /* display: inline-block; */
  /* grid-template-columns: 1fr;
  grid-template-rows: 1fr; */
  width: 400px;
  cursor: pointer;
  margin: 30px;
  background-color: rgba(5, 62, 82, 0.3);
  border-radius: 5%;

  /* background-image: url("https://i.pinimg.com/564x/24/e7/59/24e75930a8f463192dadb16fe58bdf29.jpg"); */
  background-size: 100%;
  text-align: center;
  justify-content: center;
}

.card h1 {
  color: brown;
}
.card p {
  color: whitesmoke;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: bold;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.image {
  width: 90%;
  height: 90%;
  margin-bottom: 1px;
  object-fit: cover;
  border-radius: 5px;
  scroll-snap-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.content {
  margin-top: -90px;
  margin-left: 20px;
  color: white;
  z-index: 2;
}
