.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.wrapper input {
  width: 40px;
  text-align: center;
  margin-right: 5px;
  height: 30px;
}

.wrapper p {
  font-weight: 700;
}

.wrapper button {
  transition: box-shadow 0.3s ease;
  height: 30px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  background-color: whitesmoke;
  border: 1.5px solid rgb(103, 103, 103);
  margin-right: 10px;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  transition: color 0.6s;
  color: #191919;
  cursor: pointer;
  box-shadow: 3px 4px 0px rgba(42, 41, 41, 0.9);
  border-radius: 5px;
}
.wrapper button:hover {
  background-color: rgb(110, 110, 110);
}
.wrapper button:active {
  box-shadow: 1.5px 2.5px 0px rgba(42, 41, 41, 0.9);
  transform: translateY(4px) translateX(1px);
}
